<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>...</title>
</head>
<body>
    <script>
        const { User } = require('../models/user');


        const username = localStorage.getItem('username')


        const user = await User.findOne({ username });

        if(!user){
            return res.send('User not found');
            res.render('invalidLogin.ejs');
        }
        location.assign('/')
    </script>
</body>
</html>